// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
//
//.toolbar-background {
//    background-color: #dd3f14;
//}

.toolbar {
    min-height: 52px;
}

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
    border-style: none;
}

//.range-tick
//{
//    top: 13.5px !important;
//    width: 15px !important;;
//    height: 15px !important;;
//    border-radius: 50% !important;;
//}
//
//.range-knob-hande
//{
//    margin-left: -15px !important;
//}

.lista-pedido-numero {
    color: black;
    font-size: 14px;
    text-align: left;
}

.lista-pedido-status-pendente{
    color: blue;
    font-size: 11pt;
    text-align: left;
    font-weight: normal;
}

.finalizado {
    color: black !important;
}

.lista-pedido-total {
    font-size: 11pt;
    color: green;
    text-align: right;
    font-weight: normal;
}

.label {
    color: black;
}

